.rgbContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}

.slider {
	-webkit-appearance: none;
	flex-grow: 1;
	order: 2;
	height: 15px;
	border-radius: 5px;   
	outline: none;
	opacity: 1;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%; 
	background: #404040;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #404040;
	cursor: pointer;
}

.channelLabel {
	width: 20px;
	order: 1;
}

.channelTextbox {
	width: 50px;
	order: 3;
}